__pycache__
intervention/figs
multi_dim_features
sae_multid_feature_discovery/saes/mistral_saes
*.npz

# venv
multid

*.pdf
*.png

*wget*
sae_multid_feature_discovery/*.pkl
sae_multid_feature_discovery/data
sae_multid_feature_discovery/panes