accelerate==0.33.0
adjustText==1.2.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
anyio==4.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.1.0
automated-interpretability==0.0.5
babe==0.0.7
beartype==0.14.1
better-abc==0.0.3
blobfile==2.1.1
boostedblob==0.15.4
certifi==2024.7.4
charset-normalizer==3.3.2
circuitsvis==1.43.2
click==8.1.7
comm==0.2.2
config2py==0.1.36
contourpy==1.2.1
cycler==0.12.1
datasets==2.20.0
debugpy==1.8.3
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
dol==0.2.55
einops==0.8.0
exceptiongroup==1.2.2
executing==2.0.1
fancy-einsum==0.0.3
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
gprof2dot==2024.6.6
graze==0.1.24
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.5
i2==0.1.18
idna==3.7
importlib_metadata==8.2.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
jaxtyping==0.2.33
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
orjson==3.10.6
packaging==24.1
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
plotly-express==0.4.1
pluggy==1.5.0
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py2store==0.1.20
pyarrow==17.0.0
pyarrow-hotfix==0.6
pycryptodomex==3.20.0
Pygments==2.18.0
pyparsing==3.1.2
pytest==8.3.2
pytest-profiling==1.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.0
regex==2024.7.24
requests==2.32.3
rich==13.7.1
sae-lens==3.13.1
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.14.0
sentencepiece==0.2.0
sentry-sdk==2.12.0
setproctitle==1.3.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stack-data==0.6.3
statsmodels==0.14.2
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.6.0
tokenizers==0.19.1
tomli==2.0.1
torch==2.1.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformer-lens==2.3.0
transformers==4.43.3
triton==2.1.0
typeguard==2.13.3
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvloop==0.19.0
wandb==0.17.5
wcwidth==0.2.13
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2
zstandard==0.22.0
